/* Set a background color and center the main container */
body {
  background-color: #ffffff; /* White background */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #555;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Smaller, centered title */
.main-title {
  font-size: 2rem; /* Reduced font size */
  color: #333;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
}

.map-description {
  width: 80vw;
  max-width: 900px;
  text-align: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}

/* New menu styles for segmented control */
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #e9ecef;
  border-radius: 99px;
  padding: 3px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
  flex-shrink: 0;
}

.layer-toggle {
  width: 50px; /* Fixed width for each segment */
}

.layer-toggle input[type="radio"] {
  display: none; /* Hide the default radio button */
}

.layer-toggle label {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 6px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Active label color */
.layer-toggle input[type="radio"]:checked + label {
  color: #000;
}

.glider {
  position: absolute;
  top: 3px;
  left: 3px;
  height: calc(100% - 6px);
  width: 50px; /* Match the width of .layer-toggle */
  background-color: #ffffff;
  border-radius: 99px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.2, 1);
  z-index: 1;
}

.mode-toggle {
  margin-bottom: 20px;
  font-size: 14px;
  flex-shrink: 0;
}

.mode-toggle label {
  margin: 0 10px;
  color: #555;
}


/* Floating map container */
.map-container {
  width: 100%;
  max-width: 900px;
  flex-grow: 1;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Custom popup styling */
.mapboxgl-popup-content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  padding: 15px !important;
  border-radius: 10px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.mapboxgl-popup-content h3 {
  font-size: 16px;
  color: #333;
  margin: 0 0 5px 0;
  font-weight: 600;
}

.mapboxgl-popup-content p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  padding: 5px;
  color: #888;
}
